table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  margin: 0;
  height: 20px;
  width: 50px;
}

.Over20k{
 color: Red;
}