table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}

footer{
    text-align: right;
    padding-right: 300px;
    bottom: 0%;
    position: fixed;
}

.Over20k{
    color: red;
}